//
// Symantec ResourceStudio generated header file
//
// This file is intended for use with Windows 3.1
//

#include  <windows.h>

#define APSTUDIO_READONLY_SYMBOLS
//#include <afxres.h>
#include <ver.h>
#undef APSTUDIO_READONLY_SYMBOLS

#include "MIDI_DLL.h"

IDD_DEBUG DIALOG MOVEABLE IMPURE LOADONCALL DISCARDABLE	10, 10, 186, 125
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_POPUP
CAPTION "Debug"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "List box", IDC_EDIT_DEBUG_OUTPUT, "Listbox", LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_BORDER | WS_TABSTOP, 	3,4,179,118
END



